html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body{
    margin: 0;
    background-position: center;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    background-color:  #F4F4F4;
}
/* Nav bar*/
.links li {
    list-style: none;
}
.links a {
    text-decoration: none;
    color: #808080;
    font-size: 13px;
}
.links a:hover {
    color: #20B2AA;
}
.header {
    position: relative;
}
.main_nav {
    width: 100%;
    height: 77px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.main_nav .links {
    display: flex;
    gap: 2rem;
    margin-left: 55px;
}
.main_page {
    text-decoration: none;
    color: #808080;
}
.main_nav .menu_btn {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    display: none;
}
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 275px;
    width: 300px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
}
.dropdown_menu li a {
    text-decoration: none;
    color: black;
}
.dropdown_menu ul {
    padding-left: 0;
}
.dropdown_menu.open {
    height: 260px;
}
.number {
    font-size: 12px;
    color: #20B2AA;
    display: flex;
    margin-top: 4px;
}
/* Main header*/
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 55px;
    box-sizing: border-box;
}
.header_part {
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 93px;
}
.header_title {
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    max-width: 612px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 33px;
}
.header_btn {
    display: block;
    margin: 0 auto;
    padding: 16px 34px;
    border: none;
    border-radius: 50px;
    background-color: #20B2AA;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
.header_btn:hover {
    background-color:#008B8B;
}
.header_text {
    text-align: center;
    padding-top: 144px;
    padding-bottom: 104px;
    font-weight: 400;
    font-size: 20px;
    max-width: 612px;
    width: 100%;
    margin: 0 auto;
}
/*Services*/
.services {
    margin: 50px 0 125px;
}
.block {
    text-align: center;
    margin: 0 auto;
}
.title_services {
    margin: 0 auto;
    max-width: 900px;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.text_services {
    margin: 0 auto;
    font-size: 13px;
    padding: 47px 0 61px;
    max-width: 827px;
    text-align: center;
    line-height: 22px;
    letter-spacing: 0.2px;
}
.block_items {
    display: flex;
    max-width: 950px;
    gap: 24px;
    justify-content: space-between;
    margin: 0 auto;
}
.services_item {
    max-width: 190px;
    width: 100%;
    height: 166px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.services_item_img {
    align-self: center;
}
.services_item_title {
    font-size: 16px;
    margin: 0 auto;
    margin-top: 25px;
    line-height: 24px;
}
.services_item_text {
    font-size: 13px;
    margin: 0 auto;
    line-height: 21px;
}
/* Risks list*/
.risks {
    background-color: white;
    padding: 36px 0 80px;
}
.header_risks {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}
.block_risks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
    width: 100%;
}
.list_risks {
    max-width: 400px;
    font-size: 13px;
    line-height: 23px;
}
/* Benefits*/
.benefits {
    margin-bottom: 80px;
}
.header_benefits {
    text-align: center;
    margin: 27px auto;
    font-size: 29px;
}
.block_benefits_items {
    display: flex;
    max-width: 950px;
    gap: 24px;
    justify-content: space-between;
    margin: 0 auto;
}
.benefits_item {
    max-width: 190px;
    width: 100%;
    height: 166px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.title_benefits {
    font-size: 16px;
    margin: 0 auto;
    margin-top: 45px;
    line-height: 24px;
}
.text_benefits {
    font-size: 13px;
    line-height: 24px;
    margin: 0 auto;
}
/* Methods*/
.methods {
    background-color: white;
    padding: 38px 0 48px;
}
.header_methods {
    text-align: center;
    margin: 23px auto;
    font-size: 29px;
}
.block_methods {
    display: flex;
    max-width: 950px;
    gap: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
.methods_item {
    max-width: 190px;
    width: 100%;
    height: 166px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 68px;
}
.methods_item_img {
    align-self: center;
}
.methods_title {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 0px;
    line-height: 26px;
}
.methods_text {
    font-size: 13px;
    margin: 0 auto;
    line-height: 21px;
}
/* Questions*/
.questions {
    padding: 38px 0 48px;

}
.header_questions {
    text-align: center;
    font-size: 29px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 50px;
}
.block_questions {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.title_question {
    font-size: 14px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 5px;
    color: #1E90FF;
}
.text_question {
    font-size: 13px;
    margin: 0 auto;
    line-height: 21px;
    padding-bottom: 15px;
    border-bottom: 1px rgba(128, 128, 128, 0.103) solid;
}
/* Form*/
.form {
    margin-top: 42px;
}
.container_form {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 30px;
    border: 0px solid #fafafa;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 32px;
}
.block_support_title {
    margin-top: 16px;
    margin-left: 36px;
}
.support_title {
    font-size: 28px;
    color: #F4F4F4;
}
.symbols {
    color: #20B2AA;
}
.support_text {
    font-size: 14px;
    color: #F4F4F4;
    margin-bottom: 72px;
    line-height: 20px;
}
.contacts a {
    text-decoration: none;
    font-weight: bold;
    color: #F4F4F4;
    display: block;
    line-height: 26px;
}
.contacts_adapt a {
    text-decoration: none;
    font-weight: bold;
    color: #F4F4F4;
    line-height: 26px;
    display: none;
    text-align: center;
}
.request_form {
    margin-top: 18px;
    margin-right: 30px;
}
.input_subject{
    width: 490px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    color: #808080;
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 8px;
    border: none;
    border-bottom: 1px solid #80808042;
}
.input_subject:focus {
    outline: none;
}
.iti__flag-container {
    color: #808080;
    font-size: 14px;
}
.iti--separate-dial-code .iti__selected-flag {
    background-color: rgba(0, 0, 0, 0);
}
.iti {
    display: block;
}
.input_btn {
    padding: 16px 38px;
    border: none;
    border-radius: 50px;
    background-color: #20B2AA;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 6px;
}
.input_btn:hover {
    background-color:#008B8B;
}
.form_text {
    margin-top: 42px;
    color: #808080;
    font-size: 10px;
}
/* Footer*/
.footer {
    margin-top: 105px;
    padding-bottom: 50px;
}
.container_footer {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;
    border-radius: 30px;
    border: 0px solid #fafafa;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    color: #696969;
    padding: 30px;
}
.block_footer_copyright {
    display: flex;
    flex-direction: column;
}
.footer_title {
    font-size: 16px;
}
.requisites {
    font-size: 12px;
}
.footer_copyright_text {
    margin-top: auto;
}
ul.footer_links  {
    padding-left: 0;
    margin: 0;
}
.footer_links li {
    list-style: none;
}
.footer_links a {
    text-decoration: none;
    font-size: 12px;
    color: #696969;
    line-height: 24px;
}
.footer_links a:hover {
    color: #20B2AA;
}
.footer_contacts {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: right;
}
.footer_contacts p {
    font-size: 12px;
}
.footer_contacts h3 {
    font-size: 18px;
}
.footer_number a {
    font-weight: bold;
    color: #696969;
    line-height: 26px;
    font-size: 14px;
}
.socials_news {
    margin-top: 25px;
}
.social-btn {
    text-decoration: none;
}
.social-btn:hover {
    opacity: 0.5;
}
.footer_btn {
    display: block;
    padding: 16px 20px;
    border: none;
    border-radius: 50px;
    background-color: #20B2AA;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 6px;
}
.footer_btn:hover {
    background-color: #008B8B;
}
.footer_polit {
    margin-top: 60px;
}
/* Media*/
@media screen and (max-width: 1000px) {
    .block_questions {
        padding: 0px 15px;
    }
    .input_subject {
        width: 100%;
    }
    .support_text {
        margin-bottom: 50px;
    }
    .container_footer {
        gap: 10px;
        padding: 0 15px;
    }
    .footer_links a {
        line-height: 16px;
    }
}
@media screen and (max-width: 700px){
    .main_nav .links {
        display: flex;
        gap: 8px;
    }
    .number {
        font-size: 10px;
    }
    .container {
        padding: 0px 15px;
    }
    .header_questions {
        font-size: 26px;
    }
    .block_methods {
        gap: 10px;
    }
    .container_form {
        flex-direction: column;
        width: 90%;
    }
    .block_support_title {
        margin: 0 auto;
    }
    .support_title {
        text-align: center;
    }
    .support_text {
        text-align: center;
        margin-bottom: 23px;
    }
    .request_form {
        padding: 0px 15px;
        margin: 0 auto;
    }
    .contacts a {
        display: none;
    }
    .contacts_adapt a {
        display: block;
    }
    .input_btn {
        display: block;
        margin: 0 auto;
    }
    .form_text {
        text-align: center;
    }
    .container_footer {
        width: 90%;
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .footer_contacts {
        text-align: center;
    }
    .footer_polit {
        margin: 10px;
    }
}
@media screen and (max-width: 540px ) {
    .main_nav .links,
    .number {
        display: none;
    }
    .main_nav .menu_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
        left: 2rem;
        width: unset;
    }
    .block_items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .title_services {
        font-size: 24px;
}
    .header_risks {
        font-size: 26px;
    }
    .list_risks {
        font-size: 11px;
    }
    .block_benefits_items {
        flex-direction: column;
        align-items: center;
    }
    .title_benefits {
        margin-top: 20px;
    }
    .block_methods {
        justify-content: center;
    }
    .support_title {
        font-size: 24px;
    }
}
@media screen and (max-width: 400px ) {
    .support_title {
        font-size: 20px;
    }
    .support_text {
        font-size: 12px;
        padding: 0px 15px;
    }
}